In [18]:
import pandas as pd
import numpy as np

## Q1

In [3]:
pd.__version__

'2.1.0'

## Q2

How many columns are in the dataset?

- 10
- 6560
- 10989
- 20640

In [4]:
url="https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
data=pd.read_csv(url)

In [5]:
print('dataset column number:',data.shape[1])

dataset column number: 10

In [6]:
# 10 columns

## Q3

Which columns in the dataset have missing values?

- `total_rooms`
- `total_bedrooms`
- both of the above
- no empty columns in the dataset

In [7]:
miss_vals_mean = data.isna().mean()
miss_vals_mean

longitude             0.000000
latitude              0.000000
housing_median_age    0.000000
total_rooms           0.000000
total_bedrooms        0.010029
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
ocean_proximity       0.000000
dtype: float64

In [8]:
print('columns with miss vals:', list(miss_vals_mean[miss_vals_mean>0].index))

columns with miss vals: ['total_bedrooms']

## Q4

How many unique values does the `ocean_proximity` column have?

- 3
- 5
- 7
- 9

In [9]:
data.ocean_proximity.nunique()

5

In [10]:
print("Number of unique values in the 'ocean_proximity' column ", data.ocean_proximity.nunique())

Number of unique values in the 'ocean_proximity' column  5

## Q5

What's the average value of the `median_house_value` for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [11]:
data.query("ocean_proximity == 'NEAR BAY'").median_house_value.mean()

259212.31179039303

In [12]:
print("Average value of the 'median_house_value'", data.query("ocean_proximity == 'NEAR BAY'").median_house_value.mean())

Average value of the 'median_house_value' 259212.31179039303

## Q6


1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed? - NO

In [13]:
total_bedrooms_mean = data['total_bedrooms'].mean()
data_filled = data.copy()
data_filled['total_bedrooms'] = data_filled['total_bedrooms'].fillna(total_bedrooms_mean)
print('Total bedrooms average before fill', total_bedrooms_mean)
print('Total bedrooms average after fill', data_filled['total_bedrooms'].mean())

Total bedrooms average before fill 537.8705525375618
Total bedrooms average after fill 537.8705525375617

## Q7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [30]:
COLUMNS = ['housing_median_age', 'total_rooms','total_bedrooms']
island_data = data_filled.query("ocean_proximity == 'ISLAND'")
train_data = island_data[COLUMNS]

X = train_data.values
XTX = np.matmul(X.T, X)

y = np.array([950, 1300, 800, 1000, 1300])

w = np.matmul(np.matmul(np.linalg.inv(XTX), X.T), y)

print('Last element of w: ',w[-1])

Last element of w:  5.699229455065586